.modalbackground{
    background-color: rgba(0, 0, 0, 0.411);
}

.Column{
    display: flex;
    flex-direction: row;
    align-items: center;
    place-content: center;
    border-radius: 35px;
}

.containerLeft{
    width: 800px;
    height: 800px;
    background-color: white;
    border-radius: 35px 0 0 35px;
}

.containerRight{
    height: 800px;
    width: 410px;
    background-color: rgb(192, 192, 192);
    border-radius: 0 35px 35px 0;
}

.projectTitle{
    text-align: center;
    color: black;
    margin-top: 10px;
}

.projectInfo{
    font-size: 25px;
    color: black;
    margin-left: 15px;
}

.projectRepo{
    margin-left: 11px;
}

.projectVideo{
    height: 786px;
    width: 786px;
    border-radius: 33px 0px 0 31px;
    border: white 7px solid
}

.gh_Logo{
    height: 50px;
    width: 100px;
}

.Repo{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.closeModal{
    color: rgb(207, 0, 0);
    text-align: end;
    padding-right: 30px;
    font-weight: 800;
    font-size: 35px;
    cursor: pointer;
}