.Column{
    display: flex;
    flex-flow: row;
    border-radius: 35px;
}

.containerLeft{
    min-height: 80vh;
    width: 92vh;
    background-color: white;
    border-radius: 35px 0 0 35px;
    max-height: 20vh;
}

.containerRight{
    min-height: 80vh;
    width: 50vh;
    background-color: rgb(192, 192, 192);
    border-radius: 0 35px 35px 0;
    max-height: 20vh;
}

.projectTitle{
    text-align: center;
    color: black;
    margin-top: 10px;
}

.projectInfo{
    font-size: 25px;
    color: black;
    margin-left: 15px;
}

.projectRepo{
    margin-left: 11px;
}

.projectVideo{
    min-height: 78vh;
    width: 90vh;
    border-radius: 33px 0px 0 31px;
    border: white 7px solid
}

.gh_Logo{
    height: 50px;
    width: 100px;
}

.Repo{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.closeModal{
    color: rgb(207, 0, 0);
    text-align: end;
    padding-right: 30px;
    font-weight: 800;
    font-size: 35px;
    cursor: pointer;
}

@media all and (max-width: 1100px) {
    .containerLeft{
        width: 70vh;
        min-height: 80vh;
    }

    .containerRight{
        min-height: 80vh;
        width: 60vh;
    }

    .projectVideo{
        min-height: 78vh;
        width: 68vh;
    }
}

@media all and (max-width: 1100px) {
    .containerLeft{
        width: 60vh;
        min-height: 80vh;
    }

    .containerRight{
        min-height: 80vh;
        width: 60vh;
    }

    .projectVideo{
        min-height: 78vh;
        width: 58vh;
    }
}

@media all and (max-width: 940px) {
    .containerLeft{
        width: 42vh;
        min-height: 80vh;
    }

    .containerRight{
        min-height: 80vh;
        width: 40vh;
    }

    .projectVideo{
        min-height: 78vh;
        width: 40vh;
    }

    .Repo{
        display: flex;
        margin-top: 100%;
        flex-flow: row wrap;
        align-items: center;
        
    }
}