.web{
    background-color: #292e36;
    width: 150rem;
    scroll-behavior: smooth;
}

.title{
    padding: 10px;
    text-align: center;
  }

  .courses{
    padding-bottom: 10px;
  }
  
  .technologies{
    padding-bottom: 10px;
  }
  
  .projects{
    padding-bottom: 10px;
  }

.normalText{
  font-size: 25px;
  padding-left: 20px;
  padding-right: 20px;
}

.modal{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modalBG{
  position: fixed;
  background-color: #20242be0;
  width: 100%;
  height: 100%;
  z-index: 500;
  padding: 25px;
  z-index: 30;
}