.web{
    background-color: #292e36;
    width: 150rem;
}

.title{
    padding: 10px;
    text-align: center;
  }

  .courses{
    padding-bottom: 10px;
  }
  
  .technologies{
    padding-bottom: 10px;
  }
  
  .projects{
    padding-bottom: 10px;
  }
  
  .contentV{
    display: grid;
    place-items: center;
  }

.normalText{
  font-size: 25px;
  padding-left: 20px;
  padding-right: 20px;
}