.web{
    background-color: #292e36;
    width: 150rem;
    scroll-behavior: smooth;
}

.title{
    padding: 10px;
    text-align: center;
  }

  .courses{
    padding-bottom: 10px;
  }
  
  .technologies{
    padding-bottom: 10px;
  }
  
  .projects{
    padding-bottom: 10px;
  }
  
  .contentV{
    display: grid;
    place-items: center;
  }

.normalText{
  font-size: 25px;
  padding-left: 20px;
  padding-right: 20px;
}

.modal{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modalBG{
  position: fixed;
  background-color: #20242be0;
  width: 100%;
  height: 100%;
  z-index: 500;
  padding: 25px;
}

@media only screen and (max-width: 640px) {
    .normalText{
      position: relative;
      margin-left: 10px;
      margin-right: 10px;
    }
}

@media only screen and (max-width: 768px) {
  .normalText{
    position: relative;
    margin-left: 9em;
    margin-right: 8em;
  }

  .modal{
    transform: translate(-50%, -50%);
  }
}

.modalBG{
  position: fixed;
  width: 900vh;
  height: 1000vh;
}