.heroImage{
    display: flex;
    background-image: url(../../images/image.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 90vh;
    justify-content: center;
    align-items: center;
  }
  
  .heroText{
    width: 19ch;
    animation: typing 2s steps(22), blink .2s step-end infinite alternate;
    font-size: 100px;
    text-shadow: 6px 3px 8px rgba(255, 0, 0, 0.521);
    overflow: hidden;
    white-space: nowrap;
  }
  
  li{
    text-decoration: none;
    list-style-type: none;
  }

  @keyframes typing {
    from {
      width: 0;
    }
  }

  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }

  @media only screen and (max-width: 640px) {
    .heroText{
      position: relative;
      margin-right: 40px;
      font-size: 63px;
      width: 14ch;
    }

    .heroImage{
      width: 640px;
      margin: 0;
      padding: 0;
    }
  }

  @media only screen and (max-width: 768px) {
    .heroText{
      position: relative;
      margin-left: 3em;
      font-size: 80px;
      width: 18ch;
    }

    .heroImage{
      width: 100%;
      margin: 0;
      padding: 0;
    }
  }