.heroImage{
    display: flex;
    background-image: url(../../images/image.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 1190px;
    justify-content: center;
    align-items: center;
  }
  
  .heroText{
    font-size: 70px;
    text-shadow: 6px 3px 8px black;
    margin: 0;
    padding: 0;
  }
  
  li{
    text-decoration: none;
    list-style-type: none;
  }

  