.navigation{
    position: relative;
    background-color: #ff00005b;
    z-index: 5;
}

.list{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0;
    margin: 0;
}

.list li{
    display: flex;
    height: 70px;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
    padding: 15px;
}

.list li a{
    text-decoration: none;
    font-size: x-large;
}

.list li:hover{
    background-color: #6e00005d;
}

@media only screen and (max-width: 640px) {
    .list li a{
        font-size: 32px;
    }

    .navigation{
        width: 90%;
    }
}


@media only screen and (max-width: 768px) {
    .list li a{
        font-size: 32px;
    }

    .navigation{
        width: 83%;
    }
}