*{
  color: white;
}
.content{
  padding-right: 15px;
  padding-left: 15px;
}

.App-header {
  margin: 0;
  padding: 0;
}

.web{
  background-color: #292e36;
}

body{
  margin-right: 800px;
  margin-left: 800px;
  background-color: #20242b;
}

h1{
  padding: 0;
  margin: 0;
}

h2{
    padding-top: 8px;
    padding-left: 5px;
}

p{
  margin: 0;
  padding: 0;
  font-size: 20px;
}

.title{
  padding: 10px;
  text-align: center;
}

.courses{
  padding-bottom: 10px;
}

.technologies{
  padding-bottom: 10px;
}

.projects{
  padding-bottom: 10px;
}

.contentV{
  display: grid;
  place-items: center;
}